

<h3>Vaši klijenti:</h3>
<table class ="table table-bordered table-hover" id="clients_table">
<tr class="alert-info">
	<th>Korisnik</th>
	<th>Mjesto </th>
	<th>Vrijeme prijave</th>
	<th>Bodovi </th>
	<th>Povećaj </th>
	<th>Smanji </th>
	</tr>
<% @carts.each do |cart| %>
	<tbody>
	<tr>
	<td>
	<%= cart.user.email %></td>
	<td><strong><%= cart.place.name %></strong></td>
	<td><%= cart.updated_at.strftime("%d.%m.%Y. %H:%M:%S") %></td>
	<td><span class="badge alert-default"><%= cart.points %></span></td>
	<td>    
	<%= button_to(" + ", cart_path(id:cart.id, :place_id => cart.place.id, :user_id =>cart.user.id), :method => :patch,  :class=> "btn btn-default") %> </td>
    <td>
	<%= button_to(" - ", carts_subtract_path(id:cart.id, :place_id => cart.place.id, :user_id =>cart.user.id),  :class=> "btn btn-default") %></td>
	</tr>
	</tbody>

	
	<%# Find all users checked to the places of the current_admin %>
	<%# get current_admin place and all users which have records in carts(for that place_id) %>
	<%#checked_users = User.find_by(user_id: current_user.id, place_id: place.id)%>
	
	
<% end %>
	</table>